# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/mvn-eclipse-cache.properties
*.class
target/
*.iml
.idea/
target/
logs/
.classpath
.project
.settings/
.amateras
/target*
*.log*
*.jar
*.war
*.ear
